html, body {
    margin:0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(230, 230, 230);
}

header {
    position: relative;
    height: 30%;
    text-align: center;
}

header div.content {
    padding: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    width: 22%;
    margin: 10px;
}

@media (max-width: 1100px) {
    li {
        width: 30%;
    }
}

@media (max-width: 780px) {
    li {
        width: 45%;
    }
} 

@media (max-width: 500px) {
    li {
        width: 95%;
    }
} 